<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pesan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Register"></activity>
        <activity android:name=".Activity.Jasa" />
        <activity android:name=".Activity.Produk" />
        <activity android:name=".Activity.Akun" />
        <activity android:name=".Activity.Tentang" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidlistviewclickintent.Activityakun"
            android:label="@string/title_activity_detail" >
        </activity>
    </application>

</manifest>